<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloneFlix - Vídeos</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js" defer></script>
</head>

<body>
    <div>
        <% files.forEach(file=> { %>
            <a href="/<%= file %>">
                <span class="thumbnail <%= file %>"><%= file %></span>
            </a>
        <% }) %>
    </div>
</body>

</html>